<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Réinitialisation</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Entrez votre email</ion-label>
        <ion-input type="email" inputmode="email"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col size="8" offset="2">
          <ion-button mode="ios" shape="round" expand="block">
            Envoyer
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
