<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>
      {{article.title}}
    </ion-title>

    <ion-icon name="share-social" size="large" slot="end" class="header-icon"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-slides pager="true" mode="ios" [options]="slideOpts">
        <ion-slide *ngFor="let p of article.pictures">
          <img [src]="'data:' + p.nameContentType + ';base64,' + p.name" alt=""/>
        </ion-slide>
      </ion-slides>
    </ion-card-header>
    <ion-card-content>
      <ion-chip color="danger">
        <ion-label>
          {{article.category.title}}
        </ion-label>
      </ion-chip>


      <ion-chip color="primary">
        <ion-label *ngIf="article.etat.available">Disponible</ion-label>
        <ion-label *ngIf="!article.etat.available">Indisponible</ion-label>
      </ion-chip>


      <ion-chip color="primary">
        <ion-label>{{article.etat.modeAcquisition}}</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-label color="dark">{{article.etat.etatArticle}}</ion-label>
      </ion-chip>


      <ion-chip>
        <ion-label color="dark">{{article.city.name}}</ion-label>
      </ion-chip>

      <p>
        <span>Prix: {{article.price | number}} F CFA</span> &nbsp; &nbsp;

        <!--
        <span *ngIf="article.averageStart >=1">
          <ion-icon name="star" color="warning"></ion-icon>
        </span>
        <span *ngIf="article.averageStart >=2">
          <ion-icon name="star" color="warning"></ion-icon>
        </span>
        <span *ngIf="article.averageStart >=3">
          <ion-icon name="star" color="warning"></ion-icon>
        </span>
        <span *ngIf="article.averageStart >=4">
          <ion-icon name="star" color="warning"></ion-icon>
        </span>
        <span *ngIf="article.averageStart >=5">
          <ion-icon name="star" color="warning"></ion-icon>
        </span>
        -->
      </p>
      <br>


      <p>
        Frais de livraison: {{article.etat.fraisLivraison | number}} F CFA
      </p> <br>

      <p>
        {{article.description}}
      </p>

      <ion-grid>
        <ion-row>
          <ion-col size="9">

          </ion-col>
          <ion-col size="3">
            <ion-button color="primary">Noter</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-row >
    <ion-col size="4" class="flex">
      <ion-icon name="chatbox-ellipses" color="primary" size="large"></ion-icon>
      <span>SMS</span>
    </ion-col>

    <ion-col size="4" class="flex">
      <ion-icon name="mail" color="primary" size="large"></ion-icon>
      <span>Email</span>
    </ion-col>

    <ion-col size="4" class="flex">
      <ion-icon name="call" color="primary" size="large"></ion-icon>
      <span>Appel</span>
    </ion-col>
  </ion-row>
</ion-footer>

